<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Год издания</th>
            <th>Цена</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in books" ng-click="clickTr($event)">
            <td>{{ $index + 1 }}</td>
            <td>{{ book.title | myFilter}}</td>
            <td>{{ book.year }}</td>
            <!-- <td>{{ book.price | currency : "RUB " : 2 }}</td> -->
            <td>{{ book.price }}</td>
        </tr>
    </tbody>
</table>